<!DOCTYPE html>

<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>
<center>
<body>
    
	<h2>TaskMaster</h2>
	
	<br>
	<br>
	
	<div id="login">
	<br>
	<p>Sign Up</p>
	<form id="login-form" action="./login_worker" method="get">
		<label for="fname">First Name:</label>
		<input type="text" id="fname" name="fname" placeholder=""><br><br>
		<label for="lname">Last Name:</label>
		<input type="text" id="lname" name="lname" placeholder=""><br><br>
		<label for="email">⠀⠀⠀⠀Email:</label>
		<input type="text" id="email" name="email" placeholder=""><br><br>
		<label for="password">⠀Password:</label>
		<input type="password" id="password" name="password" placeholder=""><br>
		<br>
		<br>
		<button type="submit" value="Submit" class="signup_submit">Submit</button>
	</form>
	<br>
	</div>
	<br>
	<a href="./login" class="underline">{{message}}</a>
	
</body>
</center>
</html>