<!DOCTYPE html>

<html>
<head>
	<title>My Tasks</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>
<center>
<body onload="do_session('{{imglist}}', '{{timelist}}', '{{titlelist}}')">
    <br>
	<br>
	<p id="description">{{start-message}}</p>
	<img id="center-img" src="./images/start.png">
	<script type="text/javascript" src="./javascripts/animate_session.js"></script>
</body>
</center>
</html>